{# templates/form/file_input_widget.html.twig #}

{% block file_widget %}
    <div class="custom-file-input">
        <label class="custom-file-label">Choisir un fichier</label>
        <button class="custom-file-button">Parcourir</button>
    </div>
{% endblock %}