{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/template.css') }}">
{% endblock %}

{% block title %}Choix du Template{% endblock %}

{% block body %}
    <div class="container mt-5 ">
        <h1 class="text-white">Choix du Template</h1>
        <p>Choisissez le template que vous souhaitez utiliser pour votre site</p>
        <div class="d-flex flex-row">
        {% for template in templates %}
        <br>
            <div class="card-content">
                <div class="content">
                    <div class="imgBx">
                        <img src="{{ asset('assets/image_site' ~ template.image) }}" alt="image du template">
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="{{ path('app_template', {'id': template.id}) }}">Choisir</a>
                    </li>
                </ul>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
