{% extends 'base.html.twig' %}

{% block title %}Choix du Template{% endblock %}

{% block body %}
<h1>Choix du Template</h1>
    <p>Choisissez le template que vous souhaitez utiliser pour votre site</p>
    {% for template in templates %}
        <img src="{{ asset('assets/image_site' ~ template.image) }}" alt="image du template">
        <p>{{ template.name }}</p>
        <a href="{{ path('app_template', {'id': template.id}) }}">Choisir ce template</a>
        <br>
    {% endfor %}
{% endblock %}
